<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="TC" value="http://unit-905.labs.intellij.net:8110/httpAuth/app/nuget/feed/HelloWorld/LocalNuGetFeed/v2" />
 </packageSources>
</configuration>
